.Hunter-skills {
    width: 100%;
}

.Hunter-l-skillGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.Hunter-skillGrid-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 2em);
    height: 100px;
}