main {
    display: flex;
    flex-direction: row;
    border: 1px solid rebeccapurple;
    width: 100%;
    /* flex: 0 1 auto; */
}

.left {
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
}
.right {
    flex: 1 1 50%;
}

h1 {
    border: 1px solid blue;
    font-size: calc(2rem + 2.13vw);
    max-width: 100%;
    margin: 0;
    flex: 0 1 auto;
}
.lineBreak {
    flex: 0 1 auto;
}

.list {
    flex: 0 1 auto;
}

@media screen and (min-width: 576px) {
    h1 {
        flex-basis: 40%;
    }
}

@media screen and (min-width: 768px) {
    h1 {
        flex-basis: 50%;
    }
}